#title{
  display: flex;
  justify-content: center;
  background-image: url(flames.jpg);
  background-repeat: repeat-x;
  background-size: 17%;
  background-blend-mode: saturation;
  color: #39FF14
}
@keyframes rainbow {
  0% {
    background-color: violet;
  }
  14% {
    background-color: red;
  }
  28% {
    background-color: orange;
  }
  42% {
    background-color: yellow;
  }
  56% {
    background-color: green;
  }
  70% {
    background-color: blue;
  }
  84% {
    background-color: indigo;
  }
  100% {
    background-color: violet;
  }
}
#nav{
  animation: rainbow 10s linear infinite;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  color: white;

}
#main{
  display: flex;
  height: 79%;
  width: 100%;
  background-image: url(dragonpic.jpg);
  opacity: .4;
  
}

#menu{
  font-size: 20px

}
#contact{
  font-size: 20px

}
#catering{
  font-size: 20px

}
#about{
  font-size: 20px

}

